.wrapper {
	max-width: 100%;
	width: 600px;
	margin: 0 auto;
}

.container-custom {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

img {
	max-width: 100%;
}

.header {
	height: 100px;
	min-height: 20px;
	background-color: #2d4072;
	position: relative;
}

	.header a {
		color: white;
		text-decoration: none;
	}

.brand {
	width: 320px;
	top: 15px;
	position: absolute;
	left: 50%;
	margin-left: -160px;
}

.btn-hamburger {
	padding: 3px;
	background:transparent;
	border: none;
	color: white;
}
	.btn-hamburger:hover {
		color: white;
	}

	.btn-hamburger .glyphicon, .user {
		font-size: 28px;
	}

.btn-hamburger, .user {
	margin-top: 30px;
}

.content {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.box-cat {
	margin-top: 15px;
	border: 1px solid #ccc;	
	position: relative;
}

.terms-cond {
	background: url("../img/img-prod-14.png") no-repeat center;
	color: white;
	padding: 15px;
}
	.terms-cond h4 {
		font-weight: 100;
	}
	.terms-cond ul li {
		font-size: 12px;
	}

.tittle-cat {
	position: absolute;
	top: 18px;
	left: 20px;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 0.85;
	color: #969696;
	font-weight: 300;
}

.space {
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #c8c8c8;

}

.img-feature {
	height: 100px;
}

.ukm-feature p {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1;
}
